#chat-window{
	position:fixed;
	bottom:0px;
	width:440px;
	height:45%;
	background:none;
	border: 1px solid gray;
	right:0px;
}
#chat-title{
	position:absolute;
	top:0px;
	width:100%;
	height:10%;
	background-color:indigo;
	color:white;
	padding:10px;
	font-family:sans-serif;
	font-weight: bold;
	z-index:20;
}
#chat{
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 60%;
	top: 10%;
	z-index: 8;
	font-size:20px;
	font-family: serif;
	color:black;
	border: 1px solid gray;
	border-radius: 0px;
	background-color:#f1f1f1;
	text-align: bottom;
	overflow-y: auto;
}
#chat-input{
	position: absolute;
	width: 100%;
	top: 70%;
	z-index: 10;
	font-size: 20px;
	border: 1px solid gray;
	border-radius: 0px;
	padding: 0px 10px;
	resize: none;
}

.announcement{
	text-align: right;
	font-style: italic;
	font-size: small;
	color: #a8a8a8;
}

.sender{
	text-align: right;
}
.receiver{
	text-align: left;
}

.username{
	font-weight:bold;
}

.msg{
	padding-bottom: 5px;
}