.side-bar-button{
	display:block;
	background-color:#F8F8F8; 
	border:1px solid gray;
	height:40px;
	width:40px;
	padding:5px;
	border-radius: 5px;
	margin:2%;
	vertical-align: center
}

.side-bar-button:hover{
	background-color:#D8D8D8; 
}

.canvas-arrows{
	position:fixed; 
	color:gray; 
	font-size: 2em;
	visibility: hidden;
}